@media screen and (max-width: 992px) {
    .Features_card_flex{
        flex-wrap: wrap;
        margin-left: 30%;
    }

    .pink_section{
        flex-wrap: wrap;
    }

    .horizon_flex_100{
        flex-wrap: wrap;
    }

    .horizon_flex{
        flex-wrap: wrap;
    }

}